.App {
  text-align: center;
  display: flex;
  width: 80%;
  margin: 20px auto;
  flex-wrap: wrap;
  row-gap: 50px;
}

.App-link {
  color: #61dafb;
}

.movie-list {
  width: 90%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: 3em;
}